Django
django-cors-headers
django-filter
djangorestframework
djangorestframework-simplejwt
django-redis
django-celery-beat
django-celery-email
django-storages
django-widget-tweaks

pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
matplotlib
seaborn

streamlit
flask
fastapi

sqlalchemy
psycopg2-binary
redis
celery